In [1]:
import pandas as pd
import numpy as np

In [2]:
books = pd.read_csv(r"C:\Users\ARYA GUPTA\Desktop\Projects Data\Books Recommendation\Books.csv")
ratings = pd.read_csv(r"C:\Users\ARYA GUPTA\Desktop\Projects Data\Books Recommendation\Ratings.csv")
users = pd.read_csv(r"C:\Users\ARYA GUPTA\Desktop\Projects Data\Books Recommendation\Users.csv")

C:\Users\ARYA GUPTA\AppData\Local\Temp\ipykernel_11364\2876578295.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv(r"C:\Users\ARYA GUPTA\Desktop\Projects Data\Books Recommendation\Books.csv")

In [3]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [4]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [5]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [6]:
ratings['Book-Rating'].max()

np.int64(10)

In [7]:
ratings['Book-Rating'].min()

np.int64(0)

In [9]:
print(books.shape)
print(users.shape)
print(ratings.shape)

(271360, 8)
(278858, 3)
(1149780, 3)

In [11]:
books.duplicated(subset = ['ISBN']).sum()

np.int64(0)

In [12]:
books.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            2
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [13]:
books.dropna(inplace =  True, ignore_index=True )

In [15]:
users.isnull().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [16]:
ratings.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

### Popularity Based Recommendation System

In [18]:
## Ratings on every book. 

book_ratings = ratings.merge(books, on = 'ISBN')

In [19]:
book_ratings.head(3)

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,276726,0155061224,5,Rites of Passage,Judith Rae,2001,Heinle,http://images.amazon.com/images/P/0155061224.0...,http://images.amazon.com/images/P/0155061224.0...,http://images.amazon.com/images/P/0155061224.0...
2,276727,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...

In [20]:
book_ratings.shape

(1031128, 10)

In [23]:
book_ratings['ISBN'].nunique()

270144

In [24]:
book_ratings['Book-Title'].nunique()

241065

In [25]:
book_ratings[book_ratings['Book-Title'].str.contains(r'Harry', regex = True)]

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
60,276788,043935806X,7,Harry Potter and the Order of the Phoenix (Boo...,J. K. Rowling,2003,Scholastic,http://images.amazon.com/images/P/043935806X.0...,http://images.amazon.com/images/P/043935806X.0...,http://images.amazon.com/images/P/043935806X.0...
168,276847,3551551677,10,Harry Potter und der Stein der Weisen,Joanne K. Rowling,1999,Carlsen Verlag GmbH,http://images.amazon.com/images/P/3551551677.0...,http://images.amazon.com/images/P/3551551677.0...,http://images.amazon.com/images/P/3551551677.0...
169,276847,3551551685,10,Harry Potter und die Kammer des Schreckens,Joanne K. Rowling,2000,Carlsen Verlag GmbH,http://images.amazon.com/images/P/3551551685.0...,http://images.amazon.com/images/P/3551551685.0...,http://images.amazon.com/images/P/3551551685.0...
170,276847,3551551693,10,Harry Potter und der Gefangene von Azkaban,J. K. Rowling,1999,Carlsen Verlag GmbH,http://images.amazon.com/images/P/3551551693.0...,http://images.amazon.com/images/P/3551551693.0...,http://images.amazon.com/images/P/3551551693.0...
171,276847,3551551936,10,Harry Potter Und Der Feuerkelch,Joanne K. Rowling,1999,Carlsen Verlag GmbH,http://images.amazon.com/images/P/3551551936.0...,http://images.amazon.com/images/P/3551551936.0...,http://images.amazon.com/images/P/3551551936.0...
...,...,...,...,...,...,...,...,...,...,...
1029749,276165,0439139597,10,Harry Potter and the Goblet of Fire (Book 4),J. K. Rowling,2000,Scholastic,http://images.amazon.com/images/P/0439139597.0...,http://images.amazon.com/images/P/0439139597.0...,http://images.amazon.com/images/P/0439139597.0...
1029750,276165,043935806X,10,Harry Potter and the Order of the Phoenix (Boo...,J. K. Rowling,2003,Scholastic,http://images.amazon.com/images/P/043935806X.0...,http://images.amazon.com/images/P/043935806X.0...,http://images.amazon.com/images/P/043935806X.0...
1029779,276165,0590353403,10,Harry Potter and the Sorcerer's Stone (Book 1),J. K. Rowling,1998,Scholastic,http://images.amazon.com/images/P/0590353403.0...,http://images.amazon.com/images/P/0590353403.0...,http://images.amazon.com/images/P/0590353403.0...
1030051,276307,0671865277,0,Classic Crews : A Harry Crews Reader,Harry Crews,1993,Touchstone,http://images.amazon.com/images/P/0671865277.0...,http://images.amazon.com/images/P/0671865277.0...,http://images.amazon.com/images/P/0671865277.0...
1030264,276463,0439139600,0,Harry Potter and the Goblet of Fire (Book 4),J. K. Rowling,2002,Scholastic Paperbacks,http://images.amazon.com/images/P/0439139600.0...,http://images.amazon.com/images/P/0439139600.0...,http://images.amazon.com/images/P/0439139600.0...

In [26]:
book_ratings.groupby('Book-Title').count()

,User-ID,ISBN,Book-Rating,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
Book-Title,,,,,,,,,
"A Light in the Storm: The Civil War Diary of Amelia Martin, Fenwick Island, Delaware, 1861 (Dear America)",4,4,4,4,4,4,4,4,4
Always Have Popsicles,1,1,1,1,1,1,1,1,1
Apple Magic (The Collector's series),1,1,1,1,1,1,1,1,1
"Ask Lily (Young Women of Faith: Lily Series, Book 5)",1,1,1,1,1,1,1,1,1
Beyond IBM: Leadership Marketing and Finance for the 1990s,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...
Ã?Â?lpiraten.,2,2,2,2,2,2,2,2,2
Ã?Â?rger mit Produkt X. Roman.,4,4,4,4,4,4,4,4,4
Ã?Â?sterlich leben.,1,1,1,1,1,1,1,1,1
Ã?Â?stlich der Berge.,3,3,3,3,3,3,3,3,3
Ã?Â?thique en toc,2,2,2,2,2,2,2,2,2

In [28]:
ratings_count = book_ratings.groupby('Book-Title').count()['Book-Rating'].reset_index()
ratings_count.rename(columns={'Book-Rating' : 'num_ratings'}, inplace = True)
ratings_count.head(2)

                                          Book-Title  num_ratings
0   A Light in the Storm: The Civil War Diary of ...            4
1                              Always Have Popsicles            1

In [30]:
book_ratings[book_ratings['Book-Title'].str.contains(r'A Light in the Storm', regex=True) ]

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
76674,18995,0590567330,0,A Light in the Storm: The Civil War Diary of ...,Karen Hesse,1999,Hyperion Books for Children,http://images.amazon.com/images/P/0590567330.0...,http://images.amazon.com/images/P/0590567330.0...,http://images.amazon.com/images/P/0590567330.0...
143116,35859,0590567330,0,A Light in the Storm: The Civil War Diary of ...,Karen Hesse,1999,Hyperion Books for Children,http://images.amazon.com/images/P/0590567330.0...,http://images.amazon.com/images/P/0590567330.0...,http://images.amazon.com/images/P/0590567330.0...
217548,55927,0590567330,0,A Light in the Storm: The Civil War Diary of ...,Karen Hesse,1999,Hyperion Books for Children,http://images.amazon.com/images/P/0590567330.0...,http://images.amazon.com/images/P/0590567330.0...,http://images.amazon.com/images/P/0590567330.0...
358380,96448,0590567330,9,A Light in the Storm: The Civil War Diary of ...,Karen Hesse,1999,Hyperion Books for Children,http://images.amazon.com/images/P/0590567330.0...,http://images.amazon.com/images/P/0590567330.0...,http://images.amazon.com/images/P/0590567330.0...
929221,247638,157734684X,10,A Light in the Storm: A Novel,Chris Heimerdinger,2000,Covenant Communications,http://images.amazon.com/images/P/157734684X.0...,http://images.amazon.com/images/P/157734684X.0...,http://images.amazon.com/images/P/157734684X.0...

In [33]:
ratings_avg = book_ratings.groupby('Book-Title')['Book-Rating'].agg(lambda x: x.astype(float).mean()).reset_index()
ratings_avg.rename(columns={'Book-Rating' : 'avg_ratings'}, inplace = True)
ratings_avg.head(2)

                                          Book-Title  avg_ratings
0   A Light in the Storm: The Civil War Diary of ...         2.25
1                              Always Have Popsicles         0.00

In [34]:
popularity_df = ratings_count.merge(ratings_avg,  on = ('Book-Title'))
popularity_df.head()

                                          Book-Title  num_ratings  avg_ratings
0   A Light in the Storm: The Civil War Diary of ...            4         2.25
1                              Always Have Popsicles            1         0.00
2               Apple Magic (The Collector's series)            1         0.00
3   Ask Lily (Young Women of Faith: Lily Series, ...            1         8.00
4   Beyond IBM: Leadership Marketing and Finance ...            1         0.00

In [37]:
popular_df = popularity_df[popularity_df['num_ratings'] >= 250].sort_values('avg_ratings', ascending = False).head(50)

In [ ]:
## Wecan use custom formulas to calculate the populariity of a film --just like IMDB does for films.

### Collaborative Filtering Based Recommendation System

###### We cannot use each and every books and each and every user's input to make this system.

In [38]:
book_ratings.head()

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,276726,0155061224,5,Rites of Passage,Judith Rae,2001,Heinle,http://images.amazon.com/images/P/0155061224.0...,http://images.amazon.com/images/P/0155061224.0...,http://images.amazon.com/images/P/0155061224.0...
2,276727,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
3,276729,052165615X,3,Help!: Level 1,Philip Prowse,1999,Cambridge University Press,http://images.amazon.com/images/P/052165615X.0...,http://images.amazon.com/images/P/052165615X.0...,http://images.amazon.com/images/P/052165615X.0...
4,276729,0521795028,6,The Amsterdam Connection : Level 4 (Cambridge ...,Sue Leather,2001,Cambridge University Press,http://images.amazon.com/images/P/0521795028.0...,http://images.amazon.com/images/P/0521795028.0...,http://images.amazon.com/images/P/0521795028.0...

In [39]:
book_ratings.groupby('User-ID').count()

,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
User-ID,,,,,,,,,
2,1,1,1,1,1,1,1,1,1
8,17,17,17,17,17,17,17,17,17
9,3,3,3,3,3,3,3,3,3
10,1,1,1,1,1,1,1,1,1
12,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...
278846,1,1,1,1,1,1,1,1,1
278849,4,4,4,4,4,4,4,4,4
278851,23,23,23,23,23,23,23,23,23
278852,1,1,1,1,1,1,1,1,1
278854,8,8,8,8,8,8,8,8,8

In [51]:
## We are taking only those users into accout here who have reviewed atleast 100 books.

a = book_ratings.groupby('User-ID').count()['Book-Rating'] > 100
filtered_users = a[a].index

In [57]:
filtered_users_list = book_ratings[book_ratings['User-ID'].isin(filtered_users)]

In [61]:
## We are taking only those books into accout here which have been reviewed atleast 30 times.

b = filtered_users_list.groupby('Book-Title').count()['Book-Rating'] > 30
filtered_books = b[b].index

In [62]:
filtered_books_list = filtered_users_list[filtered_users_list['Book-Title'].isin(filtered_books)]

In [67]:
pt = filtered_books_list.pivot_table(index = 'Book-Title', columns = 'User-ID', values = 'Book-Rating')

In [71]:
pt.isnull().sum()

User-ID
254       2123
507       2173
882       2153
1424      2189
1435      2170
          ...
277478    2180
277639    2167
278137    2184
278188    2175
278418    1929
Length: 1641, dtype: int64

In [72]:
pt.fillna(0, inplace = True)

In [73]:
pt.head()

User-ID,254,507,882,1424,1435,1733,1903,2033,2110,2276,...,275020,275970,276463,276680,277427,277478,277639,278137,278188,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
10 Lb. Penalty,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16 Lighthouse Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2010: Odyssey Two,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [74]:
from sklearn.metrics.pairwise import cosine_similarity

In [75]:
similarity_scores = cosine_similarity(pt)

In [76]:
similarity_scores[0]

array([1.        , 0.        , 0.        , ..., 0.        , 0.        ,
       0.04183134])

In [77]:
similarity_scores.shape

(2213, 2213)

In [93]:
def recommend_books(books):
    index = np.where(pt.index == books )[0][0] #fetch index
    similar_books = sorted(list(enumerate(similarity_scores[index])), key = lambda x: x[1], reverse=True)[1:6]

    for i in similar_books:
        print (pt.index[i[0]])

In [92]:
## first of all we wil fetch the index of the input i.e., the book name

    # np.where(pt.index == '1984')[0][0]

## fetch the similarity for that vector
    # similarity_score[]

## enumerate helps us in maintaining the index.
## list converts it in a list
## sorted sorts the list and by introducing the lambda function for **key** parameter

    # sorted(list(enumerate(similarity_scores[0])), key = lambda x: x[1], reverse=True)[1:6]

## i iterates through all the 5 most similar books and prints them 1-BY-1
## i[0] only prints the index of the simmilar books - we don't need to show the **similarity_scores**
## passing i[0] in pt.index[] gives us the name of the books

## The name of the books are the **index** in the pivot table.

In [94]:
recommend_books('1984')

Animal Farm
Waiting
Brave New World
Slaughterhouse Five or the Children's Crusade: A Duty Dance With Death
Awakening

In [95]:
recommend_books('Animal Farm')

1984
Hamlet
Brave New World
Women in His Life
Shoeless Joe